@using OdeToFood.Entities
@model Restaurant

<div>
    <h1> Create </h1>

    @using (Html.BeginForm())
    {
        @Html

        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div>
            @Html.LabelFor(m => m.Cuisine)
            @Html.DropDownListFor(m => m.Cuisine,Html.GetEnumSelectList(typeof(CuisineType)))
        </div>
        <div>
            @Html.LabelFor(m => m.ID)
            @Html.TextBoxFor(m => m.ID)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    }




</div>